debug=false

listen.port=9050
blackhole.port=9051

webapp.path=org/mcstats/webapp
webapp.context=/webapp

queue.workers=4
queue.flushes=5000
queue.maxSize=500000

mongo.host=10.10.1.60
mongo.db=mcstats
mongo.collection=graphdata

mysql.hostname=127.0.0.1
mysql.database=metrics
mysql.username=root
mysql.password=

logs.path=logs

graphs.generate=true